<!DOCTYPE html>
<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<body>

<canvas id="myChart1" style="width:100%;max-width:600px"></canvas>
<canvas id="myChart2" style="width:100%;max-width:600px"></canvas>

<script>
var data = {{ data|json_encode()|raw }};

 var xValues = ["BUTS","Carton Rouge","CJaune","POINTS DESICIVES","ag"];
var yValues = Object.values(data);
var barColors = ["red", "green","blue","orange","brown"];

new Chart("myChart1", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "World Wine Production 2018"
    }
  }
});
</script>










<table class="table table-striped custab">
    <thead>
   
            <th>Nom</th>
            <th>Prenom</th>
             <th>action</th>
            
            
       
        </tr>
    </thead>
      {% for per in players %}
             <tr>
      <td>{{ per. Nom}}</td>
        <td>{{ per.Prenom}}</td>
       
                <td> <a class='btn btn-info btn-xs' href="{{ path('showPerformance',{'id':per.id}) }}"><span class="glyphicon glyphicon-edit"></span>Update</a></td>
                  
                  
        </tr>
                
    {% endfor %}

            
    </table>
</html>
