<form method="post" action="{{ path('deleteArena', {'id': Arena.id}) }}" onsubmit="return confirm('Etes-vous sûr que vous voulez supprimer cette arene?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ Arena.id) }}">
    <button class="btn">Delete</button>
</form>