{% extends 'base.html.twig' %}

{% block title %}creation du compte
{% endblock %}


{% block body %}


	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Matricule</th>
				<th>Nbplace</th>
				<th>Prix</th>
				<th>Marque</th>
				<th>Modele</th>
				<th>Color</th>
				<th>Image</th>
				<th>actions</th>
			</tr>
		</thead>

	</table>

{% endblock %}
